### Aggregin DataFrames

en este noteboo, se calcularan estadisticas de resumen en las columnas del Dataframe y dominadas las estadisticas, agrupadas y tablas dinamicas (pivot table)

## estadisticas de resumen 

**mediana y mediana**

las estadistias resumidas son exactamente lo que parecen: resumen muchos numeros en una sola estadistica. por ejemplo, la media, el minimo y la desviacion tipica (Deviacion estandar) son estadisticas resumen. calcular estadisticas de resumen te permite hacerte una mejor idea de tus datos, aunque sean muchos.

**Intrcciones**

- Explorar el nuevo Dataframe imprimiendo las primeras filas del Dataframe warmal_sales

- imprimir informacion sobre las columnas 

- imprimir la media de la columna weekly_sales

- imprimir la mediana de la columna weekly_sales

In [66]:
import pandas as pd

In [67]:
sales = pd.read_csv('DATAsets/walmart_sales.csv')

In [68]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [69]:
sales.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [70]:
# media de la columna weekly_sales

round(sales['Weekly_Sales'].mean(),2)

np.float64(1046964.88)

In [71]:
# mediana de la columa weekly_sales

sales['Weekly_Sales'].median()

np.float64(960746.04)

## Resumir fechas

las estadisticas sumarias tambien pueden calcularse sobre las columnas de fechas que tengan valores con el tipo de datos datetiem64. algunas estadisticas de resumen como la media no tiene mucho sentido en las fechas, pero otras son exactamente que intervalo de tiempo abarcan tus datos

**intrtucciones**

- imprimir el maximo de la columna date
- imprimir el minimo de la columna date

In [72]:
sales['Date2'] = pd.to_datetime(sales['Date'])

ValueError: time data "19-02-2010" doesn't match format "%m-%d-%Y", at position 2. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
sales["Date2"] = sales["Date"].astype("datetime64[ns]")

In [ ]:
sales['Date2'].min()

Timestamp('2010-01-10 00:00:00')

In [ ]:
sales['Date2'].max()

Timestamp('2012-12-10 00:00:00')

### Función `.agg`
aunque apandas y numpy tiene muchas funcones puedes necesitar una funciona direrente para resumir los datos

el metodo .agg() Permite aplicar tus propias funciones personalizadas a un DataFrame, así como aplicar funciones a más de una columna de un DataFrame a la vez, haciendo que tus agregaciones sean muy eficientes.


`df['column'].agg(function)`

###  Instrucciones

En la función personalizada para este ejercicio **"IQR"** es la abreviatura del rango intercuartílico, que es el percentil 75 menos el percentil 25.  
Es una alternativa a la desviación típica (estándar) que resulta útil si tus datos contienen valores atípicos.

---

#### **Instrucciones**

1️ Utiliza la función personalizada `iqr` definida por ti junto con el método `.agg()` para imprimir la IQR de la columna `temperature_c` del DataFrame `sales`.

2️ Actualiza la selección de columnas para utilizar la función personalizada `iqr` con `.agg()` para imprimir los IQR de las columnas `temperature`, `fuel_price`, `unemployment`, en orden.

3. actualizar las llamadas a la funcion agg,para obtener el iqr y la mediana en ese orden

In [ ]:
import numpy as np

def  iqr (columna):
    return columna.quantile(0.75) - columna.quantile(0.25)
sales['Temperature']

0       42.31
1       38.51
2       39.93
3       46.63
4       46.50
        ...
6430    64.88
6431    64.89
6432    54.47
6433    56.47
6434    58.85
Name: Temperature, Length: 6435, dtype: float64

In [ ]:
print(sales.columns.tolist())

['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']

In [ ]:
print(f" el iqr de temperarute {sales['Temperature'].agg(iqr)} ")
# actualizar la impresion del iqr de temperature, fuel_price

 el iqr de temperarute 27.479999999999997

In [ ]:
print(sales[['Temperature', 'Fuel_Price', 'Unemployment']].agg(iqr))

Temperature     27.480
Fuel_Price       0.802
Unemployment     1.731
dtype: float64

In [ ]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,'median']))

        Temperature  Fuel_Price  Unemployment
iqr           27.48       0.802         1.731
median        62.67       3.445         7.874

In [ ]:
print(sales[['Temperature','Fuel_Price','Unemployment']].agg([iqr,'median','mean','max','min']))

        Temperature  Fuel_Price  Unemployment
iqr       27.480000    0.802000      1.731000
median    62.670000    3.445000      7.874000
mean      60.663782    3.358607      7.999151
max      100.140000    4.468000     14.313000
min       -2.060000    2.472000      3.879000

In [ ]:
def convertirAcentigrados ( farent ):
    return (farent - 32)/1.8

In [ ]:
temp_min = sales['Temperature'].min()
temp_max = sales['Temperature'].max()

print(f'La tempertura {temp_min} en Centigrados es {convertirAcentigrados(temp_min)}')
print(f'La tempertura {temp_max} en Centigrados es {convertirAcentigrados(temp_max)}')

La tempertura -2.06 en Centigrados es -18.922222222222224
La tempertura 100.14 en Centigrados es 37.855555555555554

In [ ]:
sales ['Temperatura_Celsious'] = sales[['Temperature']].agg(convertirAcentigrados)

In [ ]:
sales_sort = sales.sort_values(['Temperature','Temperatura_Celsious'], ascending=[True, False])

In [ ]:
sales_sort[['Temperature','Temperatura_Celsious']]

      Temperature  Temperatura_Celsious
910         -2.06            -18.922222
3626         5.54            -14.700000
2336         6.23            -14.316667
959          7.46            -13.633333
5628         9.51            -12.494444
...           ...                   ...
3885        99.22             37.344444
5315        99.22             37.344444
4657        99.66             37.588889
4707       100.07             37.816667
4599       100.14             37.855556

[6435 rows x 2 columns]

--------

In [ ]:
# funcion personalizada que calcula el IQR

def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Imprimir IQR de la columna Temperature
print(sales['Temperature'].quantile(0.75))
print(sales['Temperature'].quantile(0.25))

print(sales['Temperature'].agg(iqr))

print(sales['Temperature'].agg(['mean', 'median', 'max', 'min']))

74.94
47.46
27.479999999999997
mean       60.663782
median     62.670000
max       100.140000
min        -2.060000
Name: Temperature, dtype: float64

# Estadisticas Acumuladas

# Estadísticas acumuladas

Las estadísticas acumulativas también pueden ser útiles para hacer un seguimiento de las estadísticas resumidas a lo largo del tiempo. En este ejercicio, calcularás la suma acumulada y el máximo acumulado de las ventas semanales de un departamento, lo que te permitirá identificar cuáles han sido las ventas totales hasta el momento, así como cuáles han sido las ventas semanales más elevadas hasta el momento.

**Instrucciones**

- Ordena las filas de sales_1_1 por la columna date en orden ascendente.
- Obtén la suma acumulada de weekly_sales y añádelo como una nueva columna de sales_1_1 llamada cum_weekly_sales.
- Obtén el máximo acumulado de weekly_sales, y añádelo como una columna llamada cum_max_sales.
- Imprime las columnas date, weekly_sales, cum_weekly_sales, y cum_max_sales

In [ ]:
sales_1_2 = sales[sales['Store'] == 1]

sales_1_2.shape

(143, 8)

In [ ]:
sales.columns

Index(['Store', 'Date', 'Weekly_Sales', 'Holiday_Flag', 'Temperature',
       'Fuel_Price', 'CPI', 'Unemployment'],
      dtype='object')

In [ ]:
# ORDENAR SALES POR  EL 

sales_1_2 = sales_1_2.sort_values('Date')

sales_1_2['cum_Weekly_Sales'] = sales_1_2['Weekly_Sales'].cumsum()

In [ ]:
sales_1_2[['Weekly_Sales', 'cum_Weekly_Sales']]

     Weekly_Sales  cum_Weekly_Sales
60     1495064.75      1.495065e+06
121    1624477.58      3.119542e+06
73     1488538.09      4.608080e+06
34     1453329.50      6.061410e+06
108    1688420.76      7.749831e+06
..            ...               ...
25     1371986.60      2.165614e+08
86     1394561.83      2.179559e+08
99     1497462.72      2.194534e+08
134    1582083.40      2.210355e+08
47     1367320.01      2.224028e+08

[143 rows x 2 columns]

In [ ]:
sales_1_2.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,cum_Weekly_Sales
60,1,01-04-2011,1495064.75,0,59.17,3.524,214.837166,7.682,1495064.75
121,1,01-06-2012,1624477.58,0,77.95,3.501,221.747214,7.143,3119542.33
73,1,01-07-2011,1488538.09,0,85.55,3.524,215.184137,7.962,4608080.42
34,1,01-10-2010,1453329.50,0,71.89,2.603,211.671989,7.838,6061409.92
108,1,02-03-2012,1688420.76,0,60.96,3.630,220.848045,7.348,7749830.68

In [ ]:

##
# obtener el maximo acumulativo de weekly y agregar cum_max_sales

sales_1_2['cum_max_sales'] = sales_1_2 ['Weekly_Sales'].cumsum()

In [ ]:
sales_1_2[['Date', 'Weekly_Sales', 'cum_Weekly_Sales','cum_max_sales' ]]

           Date  Weekly_Sales  cum_Weekly_Sales  cum_max_sales
60   01-04-2011    1495064.75      1.495065e+06   1.495065e+06
121  01-06-2012    1624477.58      3.119542e+06   3.119542e+06
73   01-07-2011    1488538.09      4.608080e+06   4.608080e+06
34   01-10-2010    1453329.50      6.061410e+06   6.061410e+06
108  02-03-2012    1688420.76      7.749831e+06   7.749831e+06
..          ...           ...               ...            ...
25   30-07-2010    1371986.60      2.165614e+08   2.165614e+08
86   30-09-2011    1394561.83      2.179559e+08   2.179559e+08
99   30-12-2011    1497462.72      2.194534e+08   2.194534e+08
134  31-08-2012    1582083.40      2.210355e+08   2.210355e+08
47   31-12-2010    1367320.01      2.224028e+08   2.224028e+08

[143 rows x 4 columns]

## recuento

Eliminar duplicados es una habilidad esencial para obtener recuentos precisos, porque a menudo no quieres contar lo mismo varias veces. En este ejercicio, crearás algunos DataFrames nuevos utilizando valores únicos de sales.

*Instrucciones*

- Elimina las filas de sales con pares duplicados de store y type y guárdalas como store_types e imprime la cabecera.
- Elimina las filas de sales con pares duplicados de store y department y guárdalas como store_depts e imprime la cabecera.
- Subconjunta las filas que sean semanas de vacaciones utilizando la columna is_holiday, y elimina las dates duplicadas, guardándolas como holiday_dates.
- Selecciona la columna date de holiday_dates, e imprímela.

In [ ]:
sales_sub = pd.read_csv('DATAsets/sales_subset.csv')

sales_sub.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [ ]:
store_depts = sales_sub.drop_duplicates(subset=['store', 'department'])

store_depts.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
12,12,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
24,24,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
36,36,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
48,48,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

In [ ]:
sales_sub.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [ ]:
# secmentar las filas donde el campo holiday_is es true y eliminar las fehcas duplucadas e


is_holiday_day = sales_sub[sales_sub['is_holiday'] == True].drop_duplicates(subset='date')
is_holiday_day[['date']]

            date
498   2010-09-10
691   2011-11-25
2315  2010-02-12
6735  2012-09-07
6810  2010-12-31
6815  2012-02-10
6820  2011-09-09

### Contar variables categóricas

Contar es una forma estupenda de tener una visión general de tus datos y de detectar curiosidades que de otro modo no notarías. En este ejercicio, contarás el número de cada tipo de tienda y el número de cada número de departamento utilizando los DataFrames que creaste en el ejercicio anterior:
```
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])

```
Los DataFrames store_types y store_depts que creaste en el último ejercicio están disponibles, y pandas se importa como pd.

**Instrucciones**

- Cuenta el número de tiendas de cada tienda type en store_types.
- Cuenta la proporción de tiendas de cada tienda type en store_types.
- Cuenta el número de tiendas de cada department en store_depts, ordenando los recuentos en orden descendente.
- Cuenta la proporción de tiendas de cada department en store_depts, ordenando las proporciones en orden descendente.

In [ ]:
#elemininar o hacer un (drop) la combinacion  de duplicado de store/type

store_types = sales_sub.drop_duplicates(subset=['store', 'type'])
store_types.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
901,901,2,A,1,2010-02-05,35034.06,False,4.550000,0.679451,8.324
1798,1798,4,A,1,2010-02-05,38724.42,False,6.533333,0.686319,8.623
2699,2699,6,A,1,2010-02-05,25619.00,False,4.683333,0.679451,7.259
3593,3593,10,B,1,2010-02-05,40212.84,False,12.411111,0.782478,9.765

In [ ]:
# eliminar los dublicados 

store_counts = store_types['type'].value_counts()

In [76]:
store_props = store_types['type'].value_counts(normalize=True) * 100

store_props

type
A    91.666667
B     8.333333
Name: proportion, dtype: float64

In [77]:
# obtener la proporcion 

dept_counts_sorted = store_depts['department'].value_counts(sort=True)
dept_counts_sorted

department
1     12
2     12
3     12
4     12
5     12
      ..
37    10
48     8
50     6
39     4
43     2
Name: count, Length: 80, dtype: int64

# Estadisticas agrupadas

### ¿Qué porcentaje de ventas se produjo en cada tipo de tienda?

Aunque .groupby() es útil, puedes calcular estadísticas de resumen agrupadas sin él.

Walmart distingue tres tipos de tiendas: "supercentros", "tiendas de descuento" y "mercados de barrio", codificados en este conjunto de datos como tipo "A", "B" y "C". En este ejercicio, calcularás las ventas totales realizadas en cada tipo de tienda, sin utilizar .groupby(). A continuación, puedes utilizar estas cifras para ver qué proporción de las ventas totales de Walmart se realizaron en cada tipo.

sales está disponible y pandas se importa como pd.

**Instrucciones**

- Calcula el total de weekly_sales en todo el conjunto de datos.
- Subconjunto para las tiendas type "A", y calcula sus ventas semanales totales.
- Haz lo mismo en las tiendas type "B" y type "C".
- Combina los resultados A/B/C en una lista, y divídela por sales_all para obtener la proporción de ventas por tipo.

In [78]:
# calcular el toral de ventas por semana 
sales_all = sales_sub['weekly_sales'].sum()
sales_all

np.float64(256894718.89999998)

In [79]:
sales_sub

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
10769,10769,39,A,99,2011-12-09,895.00,False,9.644444,0.834256,7.716
10770,10770,39,A,99,2012-02-03,350.00,False,15.938889,0.887619,7.244
10771,10771,39,A,99,2012-06-08,450.00,False,27.288889,0.911922,6.989
10772,10772,39,A,99,2012-07-13,0.06,False,25.644444,0.860145,6.623
10773,10773,39,A,99,2012-10-05,915.00,False,22.250000,0.955511,6.228

In [80]:
# segmentar para los tipos A, calcular el total de ventas por semna
sales_A = sales_sub[sales_sub['type']== 'A']['weekly_sales'].sum()
sales_A

np.float64(233716315.01)

In [81]:
# segmentar para los tipos B, calcular el total de ventas por semna
sales_B = sales_sub[sales_sub['type']== 'B']['weekly_sales'].sum()
sales_B

np.float64(23178403.89)

In [82]:
# segmentar para los tipos C, calcular el total de ventas por semna
sales_C = sales_sub[sales_sub['type']== 'C']['weekly_sales'].sum()
sales_C

np.float64(0.0)

In [83]:
# obtener la proporcion de cada tipo

sales_props_by_type = [sales_A, sales_B, sales_C]/ sales_all * 1000
sales_props_by_type

array([909.77469685,  90.22530315,   0.        ])